name: MicroHs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: sol/MicroHs@setup-action
    - run: mcabal install ghc-compat
    - run: mcabal install transformers
    - run: mcabal install mtl
    - run: mcabal install --git=https://github.com/ekmett/exceptions.git exceptions
    - run: mcabal install --git=https://github.com/augustss/os-string.git os-string
    - run: mcabal install --git=https://github.com/augustss/filepath.git filepath
    - run: mcabal install
